.main {
  border: 3px solid #123;
  /* opacity: 0.77; */
  border-radius: 10px;
  background-color: #F0B96A;
  overflow: hidden;
}

.main-container {
  display: grid;
  /* height: 20vh;   */
  /* Because we set grid using fr */
  /* width: 20vw; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(minmax(100px, 1fr));
  /* grid-template-rows: 250px; */
  gap: 20px;
  margin: 10px;
  border: 2px solid red;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-title {
  margin: 10px 30px;
  font-size: 25;
  color: white;
  font-weight: bold;
  text-align: center;
  border: 2px dashed red;
}