.main-item {
    width: 200px;
    height: 250px;
    margin: 5px;
    border: 2px solid red;
    box-sizing: border-box;
}

.main-image {
    height: 180px;
}

.main-image-title {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

p {
    font-size: 16px;
}

.main-buttonLine {
    text-align: center;
}

.main-button {
    /* cursor: pointer; */
    margin:  0 auto;
    background-color: #f5ca8b;
    /* border: 5px solid red; */
    border-radius: 15px;
    padding: 2px 15px; 
    font-size: 16px;
  }