.main {
    border: 3px solid #123;
    /* opacity: 0.77; */
    border-radius: 10px;
    background-color: #F0B96A;
  }

  .main-container {
    margin: 10px;
    border: 2px solid red;
  }
 
  .main-title {
    margin: 10px 30px;
    font-size: 25;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 2px dashed red;
  }