.main-menu-item {
    background-color: blue;
    width: 125px;
    /* display: flex; */
    /* margin: auto; */
}

.main-menu-item2 {
    margin:  auto;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

.main-menu-item-icon {
    /* height: 25%;  */
    /* border-radius: 50%; */
    /* border: 1px solid black; */
    /* margin-right: -5px; */
    background-color: #0db4ac;
    height: 125px;
    /* z-index: 1; */
}

.button2 {
    cursor: pointer;
    margin:  0 auto;
    /* border: 5px solid red; */
    padding: 2px; 
    /* min-width: 64px; */

  }