.side {
    margin-top: 44px;
}
.sidebar{
    background-color: #f0b96a;
    border: 1px solid black; 
    margin-top: 30px;
    border-radius: 50px;
}

.sidebar li {
    color: white;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    margin: 5px 10px;
    background-color: #f8daaf;
}


/* #sidebar.active {
    left: 0;
} */

ul { 
    list-style: none; 
}

.side-list {
    padding-right: 10px;
    padding-left: 5px;
}