.App {
  /* text-align: center; */
  display: grid;
  grid-template-areas: "side head  head head head   items"
                       "side pLeft main main pRight items"
                       "side pLeft main main pRight ."
                       /* "side .     .    .    .      ." */
                       "acct acct  acct acct acct   acct";
  /* grid-template-rows: .5fr 2fr 1fr .5fr 1fr; */
  /* grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr; */
  grid-template-rows: repeat(0, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(200px , 1fr)); */
  grid-template-columns: repeat(0 , 1fr);
  gap: 20px;
  /* width: 1200px;
  height: 800px; */
}
.main {
  grid-area: main;
  max-width:  675px;
}
.side {
  grid-area: side;
}
.header {
  grid-area: head;
}
.resources {
  grid-area: items;
}
.account {
  grid-area: acct;
}
.pull-left {
  grid-area: pLeft;
}
.pull-right {
  grid-area: pRight;
}

