.App {
  /* text-align: center; */
  display: grid;
  grid-template-areas: "menu head  head head head   items"
                       "menu pLeft main main pRight items"
                       "menu pLeft main main pRight ."
                       "menu .     .    .    .      ."
                       "acct acct  acct acct acct   acct";
  grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
  gap: 20px;
  width: 1200px;
  height: 800px;
}
.main {
  grid-area: main;
  font-size:xx-large;
}
.menu {
  grid-area: menu;
}
.header {
  grid-area: head;
}
.resources {
  grid-area: items;
}
.account {
  grid-area: acct;
}
.pull-left {
  grid-area: pLeft;
}
.pull-right {
  grid-area: pRight;
}